<html ng-app="myApp">

<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-resource.min.js"></script>
<script src="app.js"></script>
<script src="baseService.js"></script>
<body ng-controller="itemController">
<div class="container-fluid">
	<div class="container">
  <div class="row">
    <div class="col-sm">
<form>
  
  <div class="form-group">
    <label for="leadsSelect">Leads</label>
    <select class="form-control" id="exampleFormControlSelect1" ng-model="lead" ng-options="lead as lead.FirstName+' '+lead.LastName for lead in leads track by lead.Id" ng-change="getItems(lead)">
      <option value="" ng-if="!lead">Select a Lead</option>
    </select>
  </div>
  <div class="form-group">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Price</th>
      <th scope="col">Tax</th>
      <th scope="col">Model</th>
      <th scope="col">Serial number</th>
      <th scope="col">Full Name</th>
      <th scope="col">Full Price</th>
      <th scope="col">External tax</th>

    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in items">
      <th scope="row">{{$index}</th>
      <td>{{item.Price__c}}}</td>
      <td>{{item.Tax__c}}}</td>
      <td>{{item.Model__c}}</td>
      <td>{{item.Serial_number__c}}</td>
      <td>{{item.Full_Name__c}}</td>
      <td>{{item.Full_Price__c}}</td>
      <td>{{item.External_tax__c}}</td>
    </tr>
    
    </tr>
  </tbody>
</table>
  </div>
  
</div></div>
<div class="row">
<div class="col-sm">

<div class="bd-example">
<form>
  <div class="form-group">
  	<h2> Create a Item </h2>
    <label for="itemName">Name</label>
    <input type="text" class="form-control" id="" aria-describedby="nameHelp" placeholder="Enter a name">
    <small id="nameHelp" class="form-text text-muted">Enter a name for the item.</small>
  </div>
  <div class="form-group">
    <label for="">Price</label>
    <input type="number" class="form-control" id="" placeholder="Price">
  </div>
   <div class="form-group">
    <label for="">Tax</label>
    <input type="number" class="form-control" id="" placeholder="Tax">
  </div>

<div class="form-group">
    <label for="">Model</label>
    <input type="text" max-lenght="100" class="form-control" id="" placeholder="Model">
  </div>

<div class="form-group">
    <label for="">Serial Number</label>
    <input type="text" max-lenght="100" class="form-control" id="" placeholder="Serial Number">
  </div>

  <div class="form-group">
    <label for="leadsSelect">Leads</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>


  <button type="button" class="btn btn-primary">Create</button>
</form>
</div>
</div>


</div>
</div>
</body>

</html>